@media screen and (max-width: 1090px){
    .duvidas h3, .text{
        width: 600px;
    }
}

@media screen and (max-width: 768px){

    #container-principal div h1{
        font-size: 2.5rem;
    }

    #container-principal div{
        width: 550px;
    }

    .duvidas h3, .text{
        width: 600px;
    }

    .texto-card{
        margin: 0px 100px;
    }

    #imagem-principal{
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 650px){

    #container-principal div{
        width: 350px;
    }

    .duvidas h3, .text{
        width: 450px;
    }
}